*{
    box-sizing: border-box;
    margin: 0;
}
@font-face {
    font-family: Raleway-Black;
    src: url('fonts/raleway/Raleway-Black.ttf');
}
@font-face {
    font-family: Raleway-SemiBold;
    src: url('fonts/raleway/Raleway-SemiBold.ttf');
}
@font-face {
    font-family: Raleway-Bold;
    src: url('fonts/raleway/Raleway-Bold.ttf');
}
body {
    background-image:url(img/laptop-desk-computer-writing-screen-man-653052-pxhere.com.jpg);
    background-repeat: no-repeat;
}
.consist{
    display: flex;
    justify-content: space-around;
}
form{
    display: flex;
    padding: 10px;
    flex-direction: column;
}
h1{
    color: ##333333;
    font-family: 'Raleway-Black';
    font-size: 80px;
    line-height: 160px;
    margin-bottom: 0px;
    text-align: center;
    text-shadow: 0 3px 5px #000;
}
h2{
    text-decoration: underline;
    font-family: 'Raleway-SemiBold';
    text-align: center;
    color: #555555;
    line-height: 1.5;
}
.to_do, .in_prog, .done{
    border-radius: 5px;
    width: 25%;
    background: #fff;
    padding: 10px;
}
#todoInput, #dates{
    background: #f2f2f2;
    font-size: 20px;
    margin-top: 10px;
    padding: 15px 30px;
    color: #686868;
    line-height: 1.2;
    font-family: 'Raleway-SemiBold';
    border: none;
    border-radius: 3px;
    resize: vertical;
}
.input_task_text{
    font-family: Raleway-SemiBold;
    font-size: 16px;
    color: #555555;
    line-height: 1.5;
}
.but{
    margin-left: 37px;
    font-family: Raleway-SemiBold;
    color: #494949;
    text-transform: uppercase;
    background: #ffffff;
    padding: 20px;
    border: 4px solid #494949;
    border-radius: 6px;
    display: inline-block;
    cursor: pointer;
    font-weight: 400;
}
.but:hover{
    color: #ffffff;
    background: #30992b ;
    border-color: #30992b;
    transition: all 0.4s ease 0s;
}
ul{
    list-style: none;
    border-bottom: 1px solid #555555;
    padding: 15px 0;
    height: 400px;
    overflow-y: scroll;
}
li{
    color: #244848;
    font-size: 18px;
    margin: 10px 0px;
    background: rgb(200, 227, 241);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
li:hover {
    background-color: #c2fb7d;
}
li:
#clearlist {
    margin: 12px auto;
    display: flex;
}
.del{
    border: none;
    background-color: transparent;
    background-image: url(img/icons8-trash.svg);
    height: 35px;
    width: 35px;
    padding: 8px;
    cursor:pointer;
    margin-right: 20px;
}
.move{
    border: none;
    background-color: transparent;
    background-image: url(img/move.svg);
    height: 35px;
    width: 35px;
    padding: 8px;
    cursor:pointer;
}

li p:first-child{
    font-family: 'Raleway-SemiBold';
    color: #2f91ff;
    font-size: 25px;
    text-decoration: underline;
    margin-bottom: 10px;
    font-style: normal
}
li p:nth-child(2){
    font-family: 'Raleway-SemiBold';
    color:#00c513;
    font-size: 12px;
    font-style: italic;
    margin: 9px 0;
}
.delete_all{
    font-size: 16px;
    min-width: 150px;
    height: 62px;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: all 0.4s;
    border: none;
    background: -webkit-linear-gradient(right, #2f91ff, #00c513, #2f91ff, #00c513);
    color: #fff;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    float: right;
    margin: 15px 25px;
    line-height: 1.2;
}
.delete_all:hover{
    background: -webkit-linear-gradient(right,#00c513, #2f91ff,#00c513, #2f91ff );
    transition: all 0.3s;
}

.in_prog ul, .done ul {
    height:400px;
}
footer{
    margin-top: 70px;
}
.sosial_copyright{
    font-family: 'Raleway-SemiBold';
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
    text-align: center;
}
.social_icons{
    display: flex;
    justify-content: center;
    margin: 30px 0 15px;
}
.social_icons img{
    width:50px;
    height: 50px;
    margin-right: 10px;
}
.done li .edit{
    visibility: hidden;
}
.edit{
    border: none;
    background-color: transparent;
    background-image: url(img/edit.svg);
    height: 35px;
    width: 35px;
    padding: 8px;
    cursor:pointer;
    margin-left: 20px;
}
.modalSuccess .modalHeader, .modalSuccess .modalFooter, .modalSuccess .modalClose {
	background-color: #5CB85C !important;
	border: 1px solid #5CB85C;
	color: #fff;
}
.modalHeader {
	background-color: #f5f5f5;
	border-bottom: 1px solid #ddd;
	padding: 13px;
	font-size: 16px;
	font-weight: 500;
	border-radius: 6px 6px 0 0;
}
.modalBody {
	background-color: #fff;
	line-height: 22px;
	padding: 15px;
}
.modalFooter {
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
	border-radius: 0 0 6px 6px;
    padding: 26px;
	font-size: 16px;
	font-weight: 500;
}
.modalFooter div {
	float: right;
	margin: -16px -10px 0 0;
}
.modalClose {
	color: #bbb;
	float: right;
	font-size: 24px;
	font-weight: bold;
}
.modalClose:hover,.modalClose:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
.modal {
	display: none;
	position: fixed;
	z-index: 2;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.modalContent {
	position: relative;
	margin: 30px auto;
	padding: 0;
	max-width: 600px;
	border: 1px solid #888;
	box-shadow: 0 3px 7px rgba(0,0,0,0.4);
	border-radius: 6px;
	opacity: 1;
	transition: opacity 0.4s;
	animation-name: modalopen;
	animation-duration: 0.4s;
}
@keyframes modalopen {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
.btn {
    display: inline-block;
    background-color: #ddd;
    color: #000;
    padding: 8px;
    border: 0;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    border-radius: 3px;
    margin: 0 3px 8px 0;
}
.btnok {
    background-color: #F0AD4E;
    color: #fff;
}